<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :permanent="!$vuetify.display.mobile"
      fixed
      app
    >
      <div class="p-4">
        <img class="w-full" src="/img/lizaalert.png" alt="" />
      </div>
      <v-spacer></v-spacer>
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action class="mr-2">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <!-- -->
      <template v-slot:prepend v-if="$vuetify.display.mobile" @click="drawer = !drawer">
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
      </template>

      <template v-slot:append>
        <nuxt-link to="/upload">
         <v-btn prepend-icon="mdi-upload" variant="outlined">Загрузить</v-btn>
        </nuxt-link>
      </template>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <NuxtPage />
      </v-container>
    </v-main>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "DefaultLayout",
  data() {
    return {
      drawer: true,
      items: [
        // {
        //   icon: "mdi-home",
        //   title: "Главная",
        //   to: "/",
        // },
        {
          icon: "mdi-magnify",
          title: "Поиск",
          to: "/search",
        },
        // {
        //   icon: "mdi-image-multiple",
        //   title: "Изображения",
        //   to: "/user-assets",
        // },
        // {
        //   icon: "mdi-account-multiple",
        //   title: "Пользователи",
        //   to: "/users",
        // },
        // {
        //   icon: "mdi-help-rhombus",
        //   title: "FAQ & Ссылки",
        //   to: "/faq-n-links",
        // },
        // {
        //   icon: "mdi-bell",
        //   title: "Notifications",
        //   to: "/notifications",
        // },
        // {
        //   icon: "mdi-cog-outline",
        //   title: "Настройки",
        //   to: "/settings",
        // },
      ],
      miniVariant: true,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",
    };
  },
  mounted() {
    this.drawer = !this.$vuetify.display.mobile;
  },
};
</script>
