<template>
    <div
      class="relative"
      @mouseenter="isCheckboxVisible = true"
      @mouseleave="isCheckboxVisible = false"
    >
      <img :src="preview" class="w-full rounded" />
      <v-checkbox
        v-if="isCheckboxVisible || isSelected"
        :value="isSelected"
        @input="onCheckBoxInput"
        color="primary"
        class="absolute top-0 left-0"
      ></v-checkbox>
    </div>
</template>

<script>
export default {
    props: {
        isSelected: {},
        preview: {}
    },
    data() {
        return {
            isCheckboxVisible: false
        }
    },
    methods: {
        onCheckBoxInput ($event) {
            this.$emit('select', $event.target.value)
        }
    }
}
</script>