<template>
<!-- class="grid gap-4 grid-cols-5" -->
  <div>
    <masonry-wall :items="items" :ssr-columns="3" :column-width="300" :gap="16">
      <template v-slot="{item}">
        <SearchResultItem
            :id="item.id"
            :preview="item.photo_url"
            :tags="item.tags"
            :children="item.children"
            :is-selected="isImageSelected(item.id)"
            @tagClick="(v) => $emit('tagClick', v)"
            @select="(v) => $emit('select', { id: item.id, value: v})"
        />
      </template>
    </masonry-wall>
  </div>
</template>

<script>
import { tags } from "~~/utils/tags";

export default {
  props: {
    items: {
      type: Array,
    },
    selectedImageIds: {
        type: Array
    }
  },
  data() {
    return {
      image:
        "https://photo-cdn2.icons8.com/e30xJ96fvCNGwCvoJZ6MrmqhYEJv5EqNSUD8ggznHXY/rs:fit:576:384/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5h/c3NldHMvYXNzZXRz/L3NhdGEvb3JpZ2lu/YWwvNTczLzUzNDg1/YzRjLWY4YTUtNDNl/NS05MTI3LTZjNGE3/NmI4N2IyNS5qcGc.jpg",
      tags: tags,
    };
  },
  methods: {
    isImageSelected (id) {
        return this.selectedImageIds.includes(id)
    }
  }
};
</script>
