<template>
  <div>
    <ImageWithCheckbox
      :preview="preview"
      :isSelected="isSelected"
      @select="(v) => $emit('select', v)"
    />
    <div v-if="isMulti">
        <div class="grid grid-cols-3">
            <img v-for="item in children" :key="item.id" :src="item.photo_url" alt="">
        </div>
    </div>
    <div
      class="relative"
      @mouseenter="isPencilVisible = true"
      @mouseleave="isPencilVisible = false"
    >
      <div v-if="!isEdition" class="flex">
        <div class="py-2">
          <a
            v-for="tag in selectedTags"
            :key="tag"
            @click.prevent="onTagClick(tag)"
            class="text-blue-600 hover:text-blue-800 visited:text-purple-600 mr-1.5"
          >
            #<span class="underline">{{ tag }}</span>
          </a>
        </div>
        <v-btn
          v-if="isPencilVisible"
          icon="mdi-pencil"
          variant="text"
          size="small"
          @click="enableEdition"
        ></v-btn>
      </div>
      <div class="flex" v-else>
        <v-autocomplete
          v-model="selectedTags"
          :items="allTags"
          outlined
          dense
          chips
          small-chips
          multiple
          closable-chips
          :disabled="isLoading"
        />
        <v-btn
          icon="mdi-content-save"
          variant="outlined"
          color="primary"
          class="ml-1 mt-1"
          :loading="isLoading"
          @click="saveEditedTags"
        ></v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { tags } from "~~/utils/tags";
import { editPhoto } from "~~/api/photo";

export default {
  props: {
    id: {},
    preview: {},
    tags: {},
    isSelected: {},
    children: {}
  },
  data() {
    return {
      allTags: tags,
      isEdition: false,
      isPencilVisible: false,
      selectedTags: false,
      isLoading: false,
      isCheckboxVisible: false,
      image:
        "https://photo-cdn2.icons8.com/e30xJ96fvCNGwCvoJZ6MrmqhYEJv5EqNSUD8ggznHXY/rs:fit:576:384/czM6Ly9pY29uczgu/bW9vc2UtcHJvZC5h/c3NldHMvYXNzZXRz/L3NhdGEvb3JpZ2lu/YWwvNTczLzUzNDg1/YzRjLWY4YTUtNDNl/NS05MTI3LTZjNGE3/NmI4N2IyNS5qcGc.jpg",
    };
  },
  computed: {
    isMulti() {
      return this.children;
    },
  },
  mounted() {
    this.selectedTags = this.tags;
  },
  methods: {
    onTagClick(tag) {
      this.$emit("tagClick", tag);
    },
    async saveEditedTags() {
      this.isLoading = true;
      try {
        await editPhoto(this.id, this.selectedTags);
        this.$emit("update:tags", { id: this.id, tags: this.selectedTags });
      } catch (error) {}
      this.isEdition = false;
      this.isPencilVisible = false;
      this.isLoading = false;
    },
    enableEdition() {
      this.isEdition = true;
    },
  },
};
</script>
