<template>
  <div>
    <v-btn
      class="mt-1 ml-2"
      @click="show = true"
      :disabled="isLoading"
      icon="mdi-camera"
    ></v-btn>
    <VTailwindModal v-model="show" @cancel="show = false" @confirm="onConfirmed">
      <div class="flex flex-column items-center justify-center">
        <FileInput @update:value="onFileChanged" />
        <p class="py-6">или</p>
        <v-text-field
          class="w-full"
          label="Вставьте изображение из буфера обмена"
          variant="outlined"
          @paste.prevent="onPaste"
        />
        <div class="w-80">
            <img class="w-full" v-if="preview" :src="preview" alt="">
        </div>
      </div>
    </VTailwindModal>
  </div>
</template>

<script>
import { thisTypeAnnotation } from '@babel/types';
import { useSearchStore } from '~~/stores/search';

export default {
    setup(){
        const searchStore = useSearchStore()
        return {
            searchStore
        }
    },
  data() {
    return {
      show: false,
      preview: null,
      file: null
    };
  },
  watch: {
    show(value, prev) {
        if (value !== prev && !value) {
            this.file = null
            this.preview = null
        }
    }
  },
  methods: {
    onPaste(event){
        this.file = event.clipboardData.files[0]
        this.preview = URL.createObjectURL(this.file)
    },
    onFileChanged (files) {
        this.file = files[0]
        this.preview = URL.createObjectURL(this.file)
    },
    onConfirmed () {
        this.show = false
        // this.searchStore.setImage(this.file)
        this.$emit('search', this.file)
        // this.$router.push('/search/byimage')
    }
  }
};
</script>
