<template>
    <div :class="[computedClass, { 'isMinified': isMinified }]">
        <div class="flex">
            <v-autocomplete
                v-model="selectedTags"
                :items="tags"
                outlined
                dense
                chips
                small-chips
                multiple
                closable-chips
                :disabled="isLoading"
                :class="tagsInputClasses"
            />
            <SearchByImageButton @search="onImageSearch" />
        </div>
        <v-btn :class="[buttonClasses, 'search-button']" color="primary" :loading="isLoading" @click="onClicked">Искать</v-btn>
    </div>
</template>

<script>
import { tags } from '~~/utils/tags'


export default {
    props: {
        initialValue: {
            type: Array
        },
        isMinified: {
            type: Boolean,
            default: false
        },
        isLoading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            selectedTags: [],
            tags: tags,
            show: false
        }
    },
    computed: {
        computedClass () {
            if (this.isMinified) return "flex justify-start"
        },
        buttonClasses () {
             if (!this.isMinified) return "w-full"
        },
        tagsInputClasses () {
             if (this.isMinified) return "w-96 grow-0 basis-0 tag-input"
        },
    },
    mounted() {
        this.selectedTags = this.initialValue
    },
    watch: {
        initialValue (value, prev) {
            if (prev !== value) this.selectedTags = value
        }
    },
    methods: {
        onClicked () {
            this.$emit('search', this.selectedTags)
        },
        onImageSearch (image) {
            this.$emit('search:image', image)
        }
    }

}
</script>

<style lang="scss" scoped>
.isMinified {
    .search-button {
        padding: 27px 23px;
        margin-left: 20px;
    }

    .tag-input {
        min-width: 600px;
    }
}
</style>