<template>
  <div>
    <img class="w-full" :src="preview" alt="" />
    <v-autocomplete
      v-model="selectedTags"
      @update:model-value="onTagsChange"
      :items="tags"
      outlined
      dense
      chips
      small-chips
      label="Тэги"
      multiple
      required
      closable-chips
    />
  </div>
</template>

<script>
import { tags } from "~~/utils/tags";

export default {
  props: {
    isLoading: {},
    preview: {},
    initTags: {},
  },
  data() {
    return {
      selectedTags: [],
      tags,
    };
  },
  mounted() {
    this.selectedTags = this.initTags;
  },
  methods: {
    onTagsChange(value) {
      console.log("fsdfsdf", value);
      this.$emit("tagsChange", this.selectedTags);
    },
  },
};
</script>
