<template>
  <vue-final-modal
    v-slot="{ params, close }"
    v-bind="$attrs"
    :z-index-base="2000"
    classes="flex justify-center items-center"
    content-class="relative flex flex-col max-h-full mx-4 p-4 border dark:border-gray-800 rounded bg-white dark:bg-gray-900"
  >
    <span class="mr-8 text-2xl font-bold">
      <slot name="title"></slot>
    </span>
    <div class="flex-grow overflow-y-auto">
      <slot :params="params"></slot>
    </div>
    <div class="flex-shrink-0 flex justify-evenly items-center pt-4">
       <v-btn @click="$emit('cancel', close)"
        >Отменить</v-btn
      >
      <v-btn color="primary" @click="$emit('confirm', close)"
        >Отправить</v-btn
      >
    </div>
    <button class="absolute top-0 right-0 mt-2 mr-2" @click="close">
      <mdi-close></mdi-close>
    </button>
  </vue-final-modal>
</template>

<script>
import { VueFinalModal } from "vue-final-modal";

export default {
  name: "VTailwindModal",
  components: { VueFinalModal },
  inheritAttrs: false,
  emits: ["cancel", "confirm"],
};
</script>
