<template>
  <div>
    <SearchBar
      :initialValue="selectedTags"
      isMinified
      @search="onSearched"
      @search:image="onImageSearched"
      :isLoading="isLoading"
    />
    <v-banner
      v-if="selectedImageIds.length > 0"
      :sticky="true"
      lines="one"
      class="drop-shadow-md mb-3 aling-center"
    >
      <template v-slot:text>
        <v-btn
          variant="text"
          icon="mdi-close"
          @click="selectedImageIds = []"
        ></v-btn>
        <span>Выбрано {{ selectedImageIds.length }} изображений</span>
      </template>

      <template v-slot:actions>
        <v-btn
          color="primary"
          variant="outlined"
          @click="onRearanged"
          :loading="isLoading"
        >
          Найти похожие
        </v-btn>
      </template>
    </v-banner>
    <SearchResult
      v-if="!isLoading"
      :items="items"
      :selectedImageIds="selectedImageIds"
      @tagClick="handleTagClick"
      @select="onSelected"
    />
    <div v-else class="grid place-items-center">
      <v-progress-circular :size="100" indeterminate color="primary" />
    </div>
  </div>
</template>

<script>
import { useRoute, useRouter } from "#app";
// import { useRoute, useRouter } from "vue-router";
import { search, searchByImage, rearrange } from "~~/api/search";

import { useSearchStore } from "~~/stores/search";
import { convertGroups } from "~~/utils/search";

export default {
  async setup() {
    const searchStore = useSearchStore();
    const route = useRoute();
    const router = useRouter();
    console.log(route, router, searchStore)
    const tags = route?.params?.tags?.split(",");
    if (route.params.tags === "byimage") {
      if (!searchStore.image) {
        return router.push("/search");
      }
      const response = await searchByImage(searchStore.image);
      return {
        items: convertGroups(response.data.data),
        searchStore,
      };
    }

    const { data } = await search(tags);

    console.log("search", data);

    return {
      items: data.data,
      searchStore,
      // isLoading: false
    };
  },
  data() {
    return {
      selectedTags: [],
      selectedImageIds: [],
      isLoading: false,
      key: 1,
    };
  },
  mounted() {
    if (this.$route.params.tags !== "byimage")
      this.selectedTags = this.$route.params.tags.split(",");
  },
  methods: {
    handleTagClick(tag) {
      if (this.selectedTags.includes(tag)) return;
      this.selectedTags.push(tag);
      this.isLoading = true;
      const param = this.$route.params.tags + "," + tag;
      this.$router.push(`/search/${param}`);
    },
    onSearched(tags) {
      const param = tags.join(",");
      this.isLoading = true;
      this.$router.push(`/search/${param}`);
    },
    async onImageSearched(image) {
      this.isLoading = true;
      try {
        const response = await searchByImage(image);
        this.items = convertGroups(response.data.data);
        this.key += 1;
      } catch (error) {
        console.log(error);
      }
      this.isLoading = false;
    },
    onSelected({ id, value }) {
     const idx = this.selectedImageIds.findIndex((el) => el === id);
      console.log("onSelected", id, value, idx, this.selectedImageIds);
      if (idx > -1) {
        this.selectedImageIds.splice(idx, 1);
      } else {
        this.selectedImageIds.push(id);
      }
    },
    async onRearanged() {
      this.isLoading = true;
      try {
        const { data } = await rearrange(
          this.selectedImageIds,
          this.selectedTags
        );
        this.items = data.data
      } catch (error) {}
      this.selectedImageIds = [];
      this.isLoading = false;
    },
  },
};
</script>
