<template>
  <div class="grid h-screen place-items-center">
    <div class="w-full max-w-xl">
      <h1 class="text-4xl mb-6 font-bold text-center">Поиск</h1>
      <SearchBar @search="onClicked" @search:image="onImageSearch" :isLoading="isLoading"/>
    </div>
  </div>
</template>

<script>
import { useSearchStore } from '~~/stores/search';

export default {
  setup() {
    const searchStore = useSearchStore()
    return { 
      searchStore
    }
  },
  data() {
    return {
      isLoading: false
    };
  },
  methods: {
    onClicked (values) {
      this.isLoading = true
      const param = values.join(',')
      this.$router.push(`/search/${param}`)
    },
    onImageSearch (image) {
      this.searchStore.setImage(image)
      this.$router.push(`/search/byimage`)
    }
  }
};
</script>
