<template>
  <div class="grid h-screen place-items-center">
    <div>
        <h1 class="text-center text-2xl font-bold mb-6">Добро пожаловать! 👋 </h1>
        <h2 class="text-xl font-semibold">Чтобы воспользоваться поиском, нажмите <router-link class="underline" to="/search">СЮДА</router-link></h2>
        <p class="text-center my-5">или</p>
        <h2 class="text-xl font-semibold">Чтобы загрузить материалы, нажмите <router-link class="underline" to="/upload">СЮДА</router-link></h2>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
    };
  },
};
</script>
