<template>
  <div class="container mx-auto px-4">
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmited"
    >
      <div
        class="flex flex-column items-center justify-center my-24"
        v-if="[states.SUBMITTED, states.ERROR].includes(state)"
      >
        <template v-if="state === states.SUBMITTED">
          <h1 class="text-4xl font-bold">Готово</h1>
          <img class="w-30" src="/img/success.png" alt="" />
        </template>
        <template v-else-if="state === states.ERROR">
          <h1 class="text-4xl font-bold">Ошибка сети</h1>
          <img class="w-30" src="/img/cloud-error.png" alt="" />
          <v-btn @click="onRetried"> Попробовать </v-btn>
        </template>
      </div>
      <div v-if="state === states.UPLOADED" class="grid gap-3 grid-cols-3">
        <UploadedImageItem
          v-for="(image, idx) in images"
          :key="idx"
          :preview="image.photo_url_presigned"
          :init-tags="image.tags"
          @tagsChange="(tags) => onTagsChanged(idx, tags)"
        />
      </div>
      <div
        class="w-full my-24"
        v-if="[states.INIT, states.UPLOADED].includes(state)"
      >
        <h1 class="text-4xl mb-16 font-bold text-center">Загрузка материалов</h1>
        <FileInput
          class="max-w-lg h-60 mx-auto"
          @update:value="onFileChanged"
        />
      </div>
      <div
        v-if="[states.UPLOADING, states.SUBMITING].includes(state)"
        class="flex flex-column items-center justify-center my-6"
      >
        <h1 class="mb-3">Загрузка...</h1>
        <v-progress-circular size="100" indeterminate :progress="progress" />
      </div>
      <v-btn
        v-if="state === states.UPLOADED"
        color="primary"
        class="mr-4 w-full"
        type="submit"
      >
        Сохранить
      </v-btn>
    </v-form>
  </div>
</template>

<script>
import { tags } from "~~/utils/tags";
import { uploadImages, uploadSubmit } from "~~/api/photo";

const INIT = "INIT";
const UPLOADING = "UPLOADING";
const UPLOADED = "UPLOADED";
const SUBMITING = "SUBMITING";
const SUBMITTED = "SUBMITTED";
const ERROR = "ERROR";

export default {
  data() {
    return {
      images: [],
      selectedTags: [],
      tags: tags,
      preview: null,
      state: INIT,
      progress: 0,
      states: {
        INIT,
        UPLOADING,
        UPLOADED,
        SUBMITING,
        SUBMITTED,
        ERROR,
      },
    };
  },
  methods: {
    async onFileChanged(files) {
      this.state = UPLOADING;
      try {
        const { data } = await uploadImages(files, (ProgressEvent) => {
          const progress = Math.round(
            (ProgressEvent.loaded / ProgressEvent.total) * 100
          );
          this.progress = progress;
        });
        this.images = [...this.images, ...data.data];
        this.state = UPLOADED;
      } catch (error) {
        this.state = ERROR;
      }
    },
    onTagsChanged(idx, tags) {
      this.images[idx].tags = tags;
    },
    async onSubmited() {
      console.log(this.images);
      this.state = SUBMITING;
      const { data } = await uploadSubmit(this.images);
      this.state = SUBMITTED;
    },
    onRetried () {
        this.state = INIT
        this.images = []
    }
  },
};
</script>
